<div class="content">
    <div class="header">
        <a href="https://www.youtube.com/channel/UCIdCxj0B9BXJ5tHXLgNWF6w">
            <h1>
                <img src="/logo.png" />
                Little Nebula
            </h1>
        </a>
    </div>
</div>