<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <title>Little Nebula</title>
        <meta name="description" content="" />
        <meta property='og:title' content='Little Nebula'  />
        <meta property='og:description' content="" />
        <meta property='og:image' content='' />
        <meta http-equiv='Content-type' content='text/html;charset=UTF-8' />
        <link href='/styles.css' rel='stylesheet' type='text/css' />
        <meta content='width=device-width, minimum-scale=1.0, maximum-scale=1.0' name='viewport' />
        <link href='/apple-touch-icon.png' rel='apple-touch-icon' type='image/png' />
        <link href='/favicon.png' rel='icon' type='image/png' />
    </head>
    <body>
        <%= yield %>
    </body>
</html>